<!DOCTYPE html>
<html lang="en" ng-app="ToDoList">
  <head>
    <meta charset="utf-8">
    <title>To-Do List</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="public/css/styles.css">
      <script src="bower_components/jquery/dist/jquery.js"></script>
      <script src="bower_components/angular/angular.js"></script>
      <script src="bower_components/angular-resource/angular-resource.js"></script>
      <script src="js/app.js"></script>
      <script src="js/toDoListController.js"></script>
  </head>

  <body ng-controller="ToDoListController as listCtrl">
    <h1> Tasks to complete </h1>
    <div>

      <form id="toDoForm">
        <input type="text" ng-model="listCtrl.newTask" name="newTask" placeholder="Please enter a task">
        <button id="addTask" type="button" ng-click="addTask()">Add Item</button>
      </form> 

      <ul class="list-group">
        <li class="list-group-item" ng-repeat="tasks in listCtrl.listDisplay.tasks">
        </li>
      </ul>
    </div>
  </body>
</html>
